.main {
  align-items: center;
  padding: 4rem;
  width:100%;
  min-height: 100vh;
}

.centerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.button {
  padding: 1.25rem;
  border-radius: 10px;
}
