.main {
  align-items: center;
  padding: 4rem;
  width:100%;
  min-height: 100vh;
}

.centerButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

.button {
  color: white;
  background-color: green;
  padding: 1.5rem;
  border-radius: 10px;
}

.button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button:hover {
  transition: background-color 0.5s ease;
  background-color: #2c974b;
}

.button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}