.vertFlexTable {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: white;
}

.mainNav {
    padding: 0.5rem;
}

.secondaryNav {
    padding: 0.5rem;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: gray;
    padding: 2rem;
}