.tableContainer {
    padding: 1rem 0 1rem 0;
}

.table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.thead {
    background-color: #4287f5;
    border-top-left-radius: 10px;
    padding: 2rem;
}

.th {
    padding: 1rem;
}

.td {
    background-color: #bda1ff;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}

.td:hover {
    transition: 0.5s background-color ease;
    background-color: #a970ff;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
}